<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Pract13Entities" connectionString="metadata=res://*/Pra13.csdl|res://*/Pra13.ssdl|res://*/Pra13.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-6NCUVG8V;initial catalog=Pract13;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>