<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="PR8Entities" connectionString="metadata=res://*/Practic8.csdl|res://*/Practic8.ssdl|res://*/Practic8.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-6NCUVG8V;initial catalog=PR8;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PR8Entities1" connectionString="metadata=res://*/PR8.csdl|res://*/PR8.ssdl|res://*/PR8.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-6NCUVG8V;initial catalog=PR8;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PR8Entities2" connectionString="metadata=res://*/PR8.csdl|res://*/PR8.ssdl|res://*/PR8.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-6NCUVG8V;initial catalog=PR8;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PR8Entities3" connectionString="metadata=res://*/PR8.csdl|res://*/PR8.ssdl|res://*/PR8.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-6NCUVG8V;initial catalog=PR8;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>